@import '../../_util.sass'

.home
    &__content
        padding: 0 20px 49px
        
        li
            list-style: none
            &:nth-child(n + 2)
                border-top: 1px solid $border