.collapsible-paragraph {
  position: relative;
  font-size: 14px;
  line-height: 28px; }
  .collapsible-paragraph--collapse {
    max-height: 84px;
    overflow: hidden; }
  .collapsible-paragraph__label {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
    line-height: 28px;
    background: #ffffff;
    padding: 0 10px;
    color: blue; }
