@import url(../../common.css);
.user__top {
  background-color: #313400;
  color: #fff;
  padding: 10px 10px 30px; }

.user__info {
  display: flex; }

.user__avatar {
  height: 70px;
  width: 70px;
  background: #ccc;
  margin: 10px 20px 0;
  border-radius: 50%; }
